* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: calc(6rem + 50px);
    font-family: var(--main-font);
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.text-font{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.bg-gradient {
    background: -moz-radial-gradient(circle at 76% 70%, rgba(26, 64, 103, 1) 0%, rgba(4, 14, 23, 1) 100%);
    background: -webkit-radial-gradient(circle at 76% 70%, rgba(26, 64, 103, 1) 0%, rgba(4, 14, 23, 1) 100%);
    background: -o-radial-gradient(circle at 76% 70%, rgba(26, 64, 103, 1) 0%, rgba(4, 14, 23, 1) 100%);
    background: -ms-radial-gradient(circle at 76% 70%, rgba(26, 64, 103, 1) 0%, rgba(4, 14, 23, 1) 100%);
    background: radial-gradient(circle at 76% 70%, rgba(26, 64, 103, 1) 0%, rgba(4, 14, 23, 1) 100%);
}

.section-container {
    padding: 4rem 6rem;
}

.main-container{
    padding: 0 36rem;
}

.visually-hidden{
    font-size: 0;
}

.transition{
    transition: all .2s;
}

.text-white{
    color: #ffffff;
}

.img-fluid{
    max-width: 100%;
}

.header-banner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin-bottom: 6rem; */
}

@media screen and (max-width: 1650px) {
   
    .main-container{
        padding: 0rem 25rem;
    }
}

@media screen and (min-width: 921px) and (max-width: 1270px) {
    .header-banner{
        margin-bottom: 0rem;
    }
    .main-container{
        padding: 6rem 10rem;
    }
}

@media screen and (min-width: 701px) and (max-width: 920px) {
    .main-container{
        padding: 5rem;
    }
}

@media screen and (max-width: 700px) {
    .main-container{
        padding: 2rem;
    }
    .section-container {
        padding: 2rem;
    }
}

@media screen and (max-width: 550px) {
    .main-container{
        padding: 1rem;
    }
    .section-container {
        padding: 1rem;
    }
}

/* Animations */
.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}